blockquote {
    text-align: center;
    color: #55450f;
    font-size: 28px;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 0;
    font-weight: bold;
    font-style: italic;
}
.container {
    max-width: 870px;
    margin: 0 auto;
}
header {
    background-color: #ffcd00;
    background-image: url('images/new/light-honeycomb.png');
}
header img {
    margin: 0 auto;
    display: block;
    padding-top: 30px;
    z-index: 999;
    position: relative;
}
header .background1 {
    background-color: #55450f;
    border-bottom: 6px solid #8f7621;
    position: absolute;
    top: 0;
    height: 75px;
    width: 100%;
    z-index: 1;
}
body {
    margin:0;
    font-family: 'Tajawal', sans-serif;
}
main {
    background-color: #f8ffb0;
}
main div {
    padding-top: 50px;
}
#sub-heading {
    text-align: center;
    color: #8f7621;
    font-size: 14px;
    font-weight: lighter;
}
nav {
    background-color: #87752d;
    border-top: 2px solid #52471b;
    border-bottom: 2px solid #52471b;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    text-align: center;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: #f5ffad;
    margin-right: 20px;
    font-weight: bold;
    font-size: 20px;
}
figure {
    margin: 0 10px 0 0;
    display: inline-block;
    border-top: 6px solid #8f7621;
    border-left: 6px solid #8f7621;
    border-right: 6px solid #8f7621;
    border-bottom: 30px solid #8f7621;
    border-radius: 5px;
    height: 293px;
}
figcaption {
    background-color: #8f7621;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #f5ffad;
}
footer {
    border-top: 6px solid #8f7621;
    background-color: #55450f;
    text-align: center;
    color: #ffcd00;
    padding: 40px;
}
footer p {
    margin: 0;
    font-weight: bold;
}